.Page-sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #bf607b;
    z-index: 1;
}
  
.Sidebar-links {
    list-style-type: none;
    text-align: left;
    text-decoration: none;
}