.Page {
  text-align: center;
}

.Page-logo {
  animation: Page-logo-spin infinite 20s linear;
  height: 80px;
}

.Page-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.Page-title {
  font-size: 1.5em;
}

.Page-intro {
  font-size: large;
}

.Page-sidebar {
  width: 25%;
  position: static;
  height: 100vh;
  background-color: aliceblue;
  z-index: 1;
}

.Sidebar-links {
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  
}

.Imagebar-box img {
  width: 80%;
}

@keyframes Page-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
