.Page {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto;
}

.Page-sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #bf607b;
  z-index: 1;
}

.Sidebar-links {
  list-style-type: none;
  text-align: left;
  text-decoration: none;
}

.Table-head {
  position: sticky;
  top: 0;
  height: 50px;
  grid-column-start: 2;
  background-color: #e699af;
}

.Table-body {
  grid-row-start: 2;
  margin-left: 25px;
}

.delete {
  width: 20px;
  position: relative;
  left: -22px;
}

.delete i {
  color: red;
  cursor: pointer;
}

.Searchbar {
  position: absolute;
  right: 10px;
  top: 15px;
}

.AddButton {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 200px;
  cursor: pointer;
}

.RefreshButton {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 240px;
  cursor: pointer;
}

.Imagebar-box img {
  width: 80%;
}

.Table-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

@keyframes Page-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
